{% extends "webapp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section clearfix" >
    <h1 style="color:white;">Seguridad</h1>
    <nav class="navbar navbar-light" style="background-color: rgba(65, 107, 37, 0.89);">
      <form class="container-fluid justify-content-start">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'Habilitacion_de_personal' %}" style="color:white;">Habilitacion de personal</a>
        <a class="nav-link text-uppercase text-expanded" href="{% url 'Inspecciones' %}" style="color:white;">Inspecciones</a>
        <a class="nav-link text-uppercase text-expanded" href="{% url 'Procedimientos' %}" style="color:white;">Procedimientos</a>
     </form>
     </nav>
  
  </section>


{% endblock %}