body {
    font-family: 'Nordic';
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../img/fondo.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nordic';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Nordic';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  padding-bottom:.5rem;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}


.section-heading .section-heading-under {
  display: block;
  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  margin-top:.5rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}
.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: left;
  }
  .intro .intro-text {
    left: 600;
    width: 60%;
    margin-top: 3rem;
    background-color: rgba(243, 211, 66, 0.8);
    color: cornsilk;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(242, 245, 240);
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(65, 107, 37, 0.89);
  color: cornsilk;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta .cta-innerv {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}



@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
   background-color:  rgba(65, 107, 37, 0.89);
}






.font-weight-light {
  font-weight: 100 !important;
}

.mbtm{
  padding-top: 5rem;
}

.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link{
  color: rgba(255, 255, 255, 0.7);
}

a.link:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.section-content{
  font-family: 'Braxton' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

ul.errorlist{
  padding-top: .75rem;
  font-style: italic;
  color: red;
}

.linksCategorias{

color: white !important;

text-decoration: underline;
}

.linksCategorias:hover{

  text-decoration: none;
}

.contenedorFormulario{
 background:  rgba(243, 211, 66, 0.8);
 width: 50%;
 margin: 10px auto;
 border-radius: 5px;
 padding: 1px 0px;
}
.container{
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;

}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.dropdown-menu {
    margin-top: 0;
  }
  .myaccordion {
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
   
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
   
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
  }
   
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }
  
#mainNav {
    background-color: rgba(65, 107, 37, 0.89);
    font-family: 'Braxton';
  }
  
  #mainNav .navbar-brand {
    color: #ffffff;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(219, 219, 219, 0.7);
    font-weight: 800;
  }
  
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: #ffffff;
    text-decoration: underline;
  }
  
  @media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: underline;
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);
  
      // stylelint-disable-next-line scss/selector-no-union-class-name
      &#{$infix} {
        @include media-breakpoint-up($next) {
          flex-wrap: nowrap;
          justify-content: flex-start;
  
          .navbar-nav {
            flex-direction: row;
  
            .dropdown-menu {
              position: absolute;
            }
  
            .nav-link {
              padding-right: $navbar-nav-link-padding-x;
              padding-left: $navbar-nav-link-padding-x;
            }
          }
  
          .navbar-nav-scroll {
            overflow: visible;
          }
  
          .navbar-collapse {
            display: flex !important; // stylelint-disable-line declaration-no-important
            flex-basis: auto;
          }
  
          .navbar-toggler {
            display: none;
          }
  
          .offcanvas-header {
            display: none;
          }
  
          .offcanvas {
            position: inherit;
            bottom: 0;
            z-index: 1000;
            flex-grow: 1;
            visibility: visible !important; // stylelint-disable-line declaration-no-important
            background-color: transparent;
            border-right: 0;
            border-left: 0;
            @include transition(none);
            transform: none;
          }
          .offcanvas-top,
          .offcanvas-bottom {
            height: auto;
            border-top: 0;
            border-bottom: 0;
          }
  
          .offcanvas-body {
            display: flex;
            flex-grow: 0;
            padding: 0;
            overflow-y: visible;
          }
        }
      }
    }
  }