{% extends "webapp/base.html" %}

{% load static %}

{% block content %}
<section class="page-section clearfix">
  <div class="container">
  <table class="table">
    <thead class="contenedorFormulario" >
      <tr>
        <th scope="col"></th>
        <th scope="col" style="color:snow;" ><p class="h1">BASIC</p></th>
        <th scope="col" style="color:snow;"><p class="h1">STANDAR</p></th>
        <th scope="col" style="color:snow;"><p class="h1">FULL</p></th>
        <th scope="col" style="color:snow;"><p class="h1">PREMIUN</p></th>
      </tr>
    </thead>
    <tbody class="p-3 mb-2 bg-light ">
      <tr>
        <th scope="row">Desarrollo</th>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
      </tr>
      <tr>
        <th scope="row">Soporte</th>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
      </tr>
      <tr>
        <th scope="row">Licencias</th>
        <td >3 MOD</td>
        <td>4 MOD</td>
        <td >6 MOD</td>
        <td >6 MOD</td>
      </tr>
      <tr>
        <th scope="row">Power BI</th>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
      </tr>
      <tr>
        <th scope="row">Consultoria </th>
        <td><i class="fas fa-times" style="color:red;"></i></td>
        <td><i class="fas fa-times" style="color:red;"></i></td>
        <td><i class="fas fa-times" style="color:red;"></i></td>
        <td><i class="fas fa-check" style="color:green;"></i></td>
      </tr>
    </tbody>
  </table>
</div>
</section>
{% endblock %}
<i class="fas fa-times"></i>