{% extends "webapp/base.html" %}

{% load static %}

{% block content %}
<section class="page-section clearfix">
  <div class="container">
  <table class="table">
    <thead class="contenedorFormulario" >
      <tr>
        <th scope="col"></th>
        <th scope="col" style="color:snow;" ><p class="h1"><center>BASIC</p></center></th>
        <th scope="col" style="color:snow;"><p class="h1"><center>STANDAR</p></center></th>
        <th scope="col" style="color:snow;"><p class="h1"><center>FULL</p></center></th>
        <th scope="col" style="color:snow;"><p class="h1"><center>PREMIUN</p></center></th>
      </tr>
    </thead>
    <tbody class="p-3 mb-2 bg-light ">
      <tr>
        <th scope="row"><center>Desarrollo</center></th>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
      </tr>
      <tr>
        <th scope="row"><center>Soporte</center></th>
        <td><center><i class="fas fa-check" style="color:green; center"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
      </tr>
      <tr>
        <th scope="row"><center>Licencias</center></td></th>
        <td><center>3 MOD</center></td>
        <td><center>4 MOD</center></td>
        <td><center>6 MOD</center></td>
        <td><center>6 MOD</center></td>
      </tr>
      <tr>
        <th scope="row"><center>Power BI</center></th>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
      </tr>
      <tr>
        <th scope="row"><center>Consultoria </center></th>
        <td><center><i class="fas fa-times" style="color:red;"></i></center></td>
        <td><center><i class="fas fa-times" style="color:red;"></i></center></td>
        <td><center><i class="fas fa-times" style="color:red;"></i></center></td>
        <td><center><i class="fas fa-check" style="color:green;"></i></center></td>
      </tr>
    </tbody>
  </table>
</div>

</section>
{% endblock %}
<i class="fas fa-times"></i>