{% extends "webapp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"></span>
              <span class="section-heading-lower">Misión</span>
            </h2>
            <p class="mb-0">Ayudar a las pequeñas y medianas empresas a gestionar y controlar sus procesos internos adaptándonos a su realidad y facilitando la toma de decisiones con orden y agilidad</p>
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"></span>
              <span class="section-heading-lower">Visión</span>
            </h2>
            <p class="mb-0">Ser reconocidos como una consultora de soporte en sistemas de control de gestión para PYMES y MYPES a nivel local y regional.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded" >
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"></span>
              <span class="section-heading-lower">Valores</span>
            </h2>
            <p class="mb-0">
                * Pragmatismo</p>
                <p class="mb-0">
                * Excelencia </p>
                    <p class="mb-0">
                * Adaptabilidad</p>
           </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded" >
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"></span>
              <span class="section-heading-lower">Diferenciación</span>
            </h2>
            <p class="mb-0">ofrecemos adaptación a la realidad de nuestros clientes, ayudando en la gestión de sus procesos internos, análisis de datos y resultados, toma de decisiones, transformación digital y cambio cultural. </p>   
           </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}